nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.gradle/

bin/
bld/
node_modules/
platforms/*
!platforms/platforms.json

www/lib/stomp-websocket/*
!www/lib/stomp-websocket/lib

www/lib/sockjs-client/*
!www/lib/sockjs-client/dist

www/lib/leaflet/*
!www/lib/leaflet/dist

www/lib/jquery/*
!www/lib/jquery/dist

www/lib/bootstrap/*
!www/lib/bootstrap/dist


.scannerwork/
.sonar/

TestResults/
_Chutzpah.coverage.html

.vs/

#intelliJ
.idea/

#Apple-Zeugs
*.DS_Store
.AppleDouble
.LSOverride