nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.gradle/

bin/
bld/
node_modules/
platforms/*
!platforms/platforms.json
www/lib/*
!www/lib/leaflet-color-markers/

.scannerwork/
.sonar/

TestResults/
_Chutzpah.coverage.html

.vs/

#intelliJ
.idea/

#Apple-Zeugs
*.DS_Store
.AppleDouble
.LSOverride